.basket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    gap: 20px;
    p{
        opacity: 0.8;
    }
    .basket-btn{
        background-color: #2DD06E;
        border-radius: 8px;
        width: 280px;
        height: 50px;
        color: white;
    }
}