.product{
    width: 290px;
    // height: 386px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 0;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
    .img{
        width: 200px;
        height: 200px;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
}