.advantage-wrapper{
    padding: 120px 0px;
    .advantage-block{
        display: flex;
        @media (max-width: 576px){
            flex-direction: column;
        }
        .advantage-item{
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    
}