@import '../../style/mixin';
@import '../../style/reset';

.header{
    border-bottom:  1px solid  #2CE69B;
    .container{
        .header-wrapper{
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            @include flex-column(center, flex-start);
            .header-block{
                @include flex-row(space-between, center);
                width: 100%;
                .logo-block{
                    @include flex-row(center ,center);
                    .logo-h2{
                        color: #2DD06E;
                        font-weight: 500;
                        margin-left: 20px;
                        cursor: pointer;
                        font-size: xx-large;
                    }
                }
                .search-block{
                    width: 50%;
                    height: 40px;
                    @media (max-width: 576px){
                        display: none;
                    }
                    .search-block-form{
                        background-color: #f2f2f2;
                        border: 1px solid #e0e0e0;
                        border-radius: 8px;
                        @include flex-row(center, center);
                        padding: 10px 5px;
                        .form{
                            margin-left: 15px;
                            width: 100%;
                            .form-input{
                                background-color: transparent;
                                border: none;
                                outline: none;
                                width: 100%;
                            }
                        }
                    }
                }
                .user-block{
                    display: flex;
                    .account{
                        margin-right: 20px;
                        cursor: pointer;
                    }
                    .shoppingCart{
                        cursor: pointer;
                    }
                    .countBasketItems{
                        width: 15px;
                        height: 17px;
                        color: white;
                        background-color: #2DD06E;
                        border-radius: 20px;
                        @include flex-row(center, center);
                    }
                }
            }
            .nav-header{
                margin-top: 20px;
                width: 100%;
                gap: 10px;
                height: 50px;
                @media (max-width: 576px){
                    display: none;
                }
                .categories{
                    width: 110px;
                    // padding: 10px;
                    @include flex-row(center, center);
                    &:hover{
                        color: #2DD06E;
                    }
                    &:focus{
                        color: #2DD06E;
                    }
                }
            }
            .filterSearch{
                background-color: white;
                border-radius: 10px;
                padding: 10px;
                position: absolute;
                top: 62px;
                left: 474px;
                max-height: 400px;
                overflow-y: scroll;
                width: 620px;
                z-index: 999;
                padding-top: 15px;
                ::-webkit-scrollbar{
                    display: none;
                }
                .filterSearch-title{
                    @include flex-row(space-between, none);
                    padding: 0 10px;  
                    margin-bottom: 10px;
                    button{
                        color: #8F9BB3
                    } 
                }
                .history-block{
                    display: flex;
                    margin-bottom: 20px;
                    .search-history{
                        cursor: pointer;
                        margin-right: 10px;
                        background-color: #edf1f7;
                        border-radius: 8px;
                        padding: 0 10px;
                    }
                }
                .searchProduct{
                    @include flex-row(null,center);
                    margin:20px 0 ;
                    padding: 10px;
                    .img{
                        width: 70px;
                        margin-right: 30px;
                        z-index: 999;
                    }
                    .info{
                        width: 70%;
                    }
                }
            }
            .md-search-block{
                display: none;
                max-width: 400px;
                width: 100%;
                height: 40px;
                @media (max-width: 576px){
                    display: block;
                }
                .md-search-block-form{
                    background-color: #f2f2f2;
                    border: 1px solid #e0e0e0;
                    border-radius: 8px;
                    @include flex-row(center, center);
                    padding: 10px 5px;
                    .form{
                        margin-left: 15px;
                        width: 100%;
                        .form-input{
                            background-color: transparent;
                            border: none;
                            outline: none;
                            width: 100%;
                        }
                    }
                }
                .filterSearch-mobile{
                    background-color: white;
                    border-radius: 8px;
                    padding: 10px;
                    position: absolute;
                    top: 85px;
                    max-height: 200px;
                    overflow-y: scroll;
                    width: 390px;
                    z-index: 999;
                    margin-top: 40px;
                    :hover{
                        background-color: rgb(232, 231, 231);
                    }
                    .filterSearch-title-mobile{
                        width: 100px;
                        @include flex-row(space-between, center);
                        padding: 0 10px;  
                        margin-bottom: 20px;
                        // background-color: blue;
                        width: 100%;
                        :hover{
                            background-color: white;
                        }
                    }
                    
                    .search-history{
                        margin-right: 10px;
                        background-color: #edf1f7;
                        border-radius: 8px;
                        padding: 0 10px;
                    } 

                    .searchProduct-mobile{
                        display: flex;
                        margin: 20px 0;
                        .mobile-img{
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
        }
}











